/*.container-button {
	font-size: 20px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.button-portfolio {
	color: #3aafa9 !important;
	text-transform: uppercase;
	text-shadow: 1px 1px black;
	padding: 5px 15px 5px 15px;
	border-bottom: 2px solid #3aafa9 !important;
	border-radius: 6px;
	display: inline-block;
}

.button-portfolio:hover {
	color: #3aafa9 !important;
	text-shadow: none;
	border-radius: 50px;
	border: 2px solid #3aafa9 !important;
	border-color: #3aafa9 !important;
	transition: all 0.3s ease 0s;
	background-color: #17252a;
}*/

.container-button {
    display: inline-block;
    margin: 15px;
}

.hollow-btn {
    position: relative;
    outline: none;
    background: none;
    border: 2px solid #17252a;
    padding: 10px;
    width: 140px;
    border-radius: 25px;
    margin: 40px 0 0 0;
    overflow: hidden;
    z-index: 2;
    transition: color .2s ease;
    color: #17252a;
    font-weight: bold;
    text-transform: uppercase;
}


.hollow-btn:before {
    content: '';
    width: 140px;
    padding: 10px;
    height: 50px;
    background: #17252a;
    position: absolute;
    top: 0;
    left: -170px;
    z-index: -1;
    transition: left .3s ease;
}

.hollow-btn:hover {
    cursor: pointer;
    color: white; 
}

.hollow-btn:hover:before {
    left: 0; 
}

@media only screen and (min-width: 720px) and (max-width: 1023px) {

/*.container-button {
	font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}*/


}


@media only screen and (min-width: 1024px) and (max-width: 1439px){

/*.container-button {
	font-size: 20px;
    margin-top: 25px;
    margin-bottom: 50px;
}*/



}



@media only screen and (min-width: 1440px) {

/*.container-button {
	font-size: 20px;
    margin-top: 25px;
    margin-bottom: 50px;
}*/


.hollow-btn {
    margin: 80px 0 0 0;
}


}