@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

html {
  box-sizing: border-box;
}

/************Small (Global)****/
body {
	color: #000000;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: white;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: black;
	font-size: 1em;
	margin: 0;
	margin-left: 75px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	color: black;
	font-size: 1em;
	margin-left: 15px;
	margin: 0;
	margin-bottom: 25px;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	height: 500px;
	grid-gap: 10px;

	grid-template-areas: 
		"nav"
		"titel"
		"navX"
		"intro"
		"foto"
		"expectations"
		"learn"
		"foot";
}

.grid-item {
	margin: 5px 0px 5px 5px;
}

.boxA {
	grid-area: nav;
}

.boxB {
	grid-area: foot;
}

.box1 {
	grid-area: titel;
}

.box2 {
	grid-area: navX;
}

.box3 {
	grid-area: intro;
}

.box4 {
	grid-area: foto;
}

.box5 {
	grid-area: expectations;
}

.box6 {
	grid-area: learn;
}


/**********End Global (small)***/

/************Small-Mid**************/
@media only screen and (min-width: 470px) and (max-width: 719px) {




}
/************End Small-Mid**************/

/************Mid**************/
@media only screen and (min-width: 720px) and (max-width: 1023px) {




}
/**********End Mid************/

/***********Large*************/
@media only screen and (min-width: 1024px) and (max-width: 1439px){




}
/*********End Large***********/

/************XL**************/
@media only screen and (min-width: 1440px) {



}
/**********End XL************/

