@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins');


html {
  box-sizing: border-box;
}

/************Small (Global)****/

body {
	color: #17252a;
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: rgba(222, 242, 241, 0.1);
}

/*h1 {
	font-family: 'Poppins', sans-serif;
	color: black;
	display: inline-block;
	font-size: 1em;
	margin: 0;
	margin-left: 40px;
}*/

h2 {
	font-family: 'Poppins', sans-serif;
	color: black;
/*	margin-left: 15px;*/
	margin: 0;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-size: 40px;
	padding: 0px 20px 0px 20px;
	text-align: center;
}

h3 {
	font-family: 'Poppins', sans-serif;
	color: #17252a;
	margin-left: 15px;
	margin: 0;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-size: 40px;
	padding: 0px 20px 0px 20px;
	width: 80%;
	background: #def2f1;
    padding: 20px;
    box-shadow: 5px 5px rgba(45, 195, 192, 0.4);
}

p {
	color: white;
	font-size: 20px;
	margin: 0;
	padding: 0px 20px 0px 20px;
	margin-left: 50px;
	background: rgb(45, 195, 192);;
	transform: translate(0px, -45px);
	padding: 25px;

}

.pTitel {
	color: black;
	font-size: 20px;
	margin: 0;
/*	padding: 0px 20px 0px 20px;*/
	background: none;
	transform: none;
	text-align: center;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	height: 500px;
	grid-gap: 10px;

	grid-template-areas: 
		"nav"
		"titel"
		"navX"
		"intro"
		"foto"
		"expectations"
		"learn"
		"foot";
}

.grid-item {
	margin: 5px 0px 5px 5px;
}

.boxA {
	grid-area: nav;
	background-color: #17252a;
}

#logoNaam {
	font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 2px;
/*    margin-left: 75px;*/
    transform: translate(0px, -9px);
    margin: 0;
}

a > #logoNaam {
	color: #fff;
}

a:hover > #logoNaam {
	color: rgb(45, 195, 192);
}

.boxB {
	grid-area: foot;
}

.box1 {
	grid-area: titel;
	margin-top: 100px;
	margin-bottom: 100px;
}

.box2 {
	grid-area: navX;
}

.box3 {
	grid-area: intro;
}

img {
	width: 100%;
}

.box4 {
	grid-area: foto;
}

.box5 {
	grid-area: expectations;
}

.box6 {
	grid-area: learn;
}


/**********End Global (small)***/

/************Small-Mid**************/
@media only screen and (min-width: 470px) and (max-width: 719px) {




}
/************End Small-Mid**************/

/************Mid**************/
@media only screen and (min-width: 720px) and (max-width: 1023px) {




}
/**********End Mid************/

/***********Large*************/
@media only screen and (min-width: 1024px) and (max-width: 1439px){




}
/*********End Large***********/

/************XL**************/
@media only screen and (min-width: 1440px) {



}
/**********End XL************/

